[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flit = "*"
aiobinance = {editable = true, path = "."}

[packages]
ipykernel = "*"
ipython-secrets = "*"
pandas = "*"
bokeh = "*"
matplotlib = "*"
click = "*"
terminado = "*"

[requires]
python_version = "3.8"
