[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aiobinance = {editable = true, path = "."}
gitchangelog = "*"
sphinx = "*"
pre-commit = "*"
black = "*"
isort = "*"

[packages]
ipykernel = "*"
pandas = "*"
bokeh = "*"
matplotlib = "*"
click = "*"
terminado = "*"
pydantic = "*"
pytest-recording = "*"
pytest-asyncio = "*"
nox = "*"
jedi = "*"
hypothesis = "*"
ptpython = "*"
tabulate = "*"
result = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
